W88.m/App_WebReferences/RewardsServices/RewardsServices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rewards.Core.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rewards.Core.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rewardsservices.aqzbouat.com/RewardsServices.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Rewards.Core.Domain" />
  <xs:simpleType name="RedemptionResultEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PointCheckError" />
      <xs:enumeration value="PointIsufficient" />
      <xs:enumeration value="Success" />
      <xs:enumeration value="VIPProcessingLimitReached" />
      <xs:enumeration value="LimitReached" />
      <xs:enumeration value="VIPSuccessLimitReached" />
      <xs:enumeration value="NotBelongToAnyType" />
      <xs:enumeration value="ConcurrencyDetected" />
      <xs:enumeration value="UnknownError" />
      <xs:enumeration value="CurrencyMismatch" />
      <xs:enumeration value="InvalidValidation" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RedemptionResultEnum" nillable="true" type="tns:RedemptionResultEnum" />
  <xs:complexType name="ArrayOfRedemptionProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RedemptionProductDTO" nillable="true" type="tns:RedemptionProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRedemptionProductDTO" nillable="true" type="tns:ArrayOfRedemptionProductDTO" />
  <xs:complexType name="RedemptionProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointRequired" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rewards.Core.Domain" minOccurs="0" name="Type" type="q1:ProductTypeEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RedemptionProductDTO" nillable="true" type="tns:RedemptionProductDTO" />
</xs:schema>