W88.affiliate/App_WebReferences/svcPayMember/Member.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Member" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://paymentservices.ms1dev.com/Member.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://paymentservices.ms1dev.com/Member.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://paymentservices.ms1dev.com/Member.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://paymentservices.ms1dev.com/Member.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMember_getWallets_InputMessage">
    <wsdl:part name="parameters" element="tns:getWallets" />
  </wsdl:message>
  <wsdl:message name="IMember_getWallets_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWalletsResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getWalletBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:getWalletBalance" />
  </wsdl:message>
  <wsdl:message name="IMember_getWalletBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWalletBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getStakeAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:getStakeAmount" />
  </wsdl:message>
  <wsdl:message name="IMember_getStakeAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStakeAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getCurrencyForeignRate_InputMessage">
    <wsdl:part name="parameters" element="tns:getCurrencyForeignRate" />
  </wsdl:message>
  <wsdl:message name="IMember_getCurrencyForeignRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCurrencyForeignRateResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getDepositWithdrawalHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:getDepositWithdrawalHistory" />
  </wsdl:message>
  <wsdl:message name="IMember_getDepositWithdrawalHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDepositWithdrawalHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getFundTransferHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:getFundTransferHistory" />
  </wsdl:message>
  <wsdl:message name="IMember_getFundTransferHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFundTransferHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getIsMethodAllowed_InputMessage">
    <wsdl:part name="parameters" element="tns:getIsMethodAllowed" />
  </wsdl:message>
  <wsdl:message name="IMember_getIsMethodAllowed_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIsMethodAllowedResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getMethodLimits_InputMessage">
    <wsdl:part name="parameters" element="tns:getMethodLimits" />
  </wsdl:message>
  <wsdl:message name="IMember_getMethodLimits_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMethodLimitsResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getBankAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:getBankAccounts" />
  </wsdl:message>
  <wsdl:message name="IMember_getBankAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBankAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastDepositWireTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastDepositWireTransfer" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastDepositWireTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastDepositWireTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastWithdrawalWireTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastWithdrawalWireTransfer" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastWithdrawalWireTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastWithdrawalWireTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getPendingWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:getPendingWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IMember_getPendingWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPendingWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_cancelWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:cancelWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IMember_cancelWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:cancelWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_AddMemberRewards_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberRewards" />
  </wsdl:message>
  <wsdl:message name="IMember_AddMemberRewards_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberRewardsResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastDepositMoneyTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastDepositMoneyTransfer" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastDepositMoneyTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastDepositMoneyTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastWithdrawalMoneyTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastWithdrawalMoneyTransfer" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastWithdrawalMoneyTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastWithdrawalMoneyTransferResponse" />
  </wsdl:message>
  <wsdl:portType name="IMember">
    <wsdl:operation name="getWallets">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getWallets" message="tns:IMember_getWallets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getWalletsResponse" message="tns:IMember_getWallets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWalletBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getWalletBalance" message="tns:IMember_getWalletBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getWalletBalanceResponse" message="tns:IMember_getWalletBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStakeAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getStakeAmount" message="tns:IMember_getStakeAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getStakeAmountResponse" message="tns:IMember_getStakeAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCurrencyForeignRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getCurrencyForeignRate" message="tns:IMember_getCurrencyForeignRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getCurrencyForeignRateResponse" message="tns:IMember_getCurrencyForeignRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDepositWithdrawalHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getDepositWithdrawalHistory" message="tns:IMember_getDepositWithdrawalHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getDepositWithdrawalHistoryResponse" message="tns:IMember_getDepositWithdrawalHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFundTransferHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getFundTransferHistory" message="tns:IMember_getFundTransferHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getFundTransferHistoryResponse" message="tns:IMember_getFundTransferHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIsMethodAllowed">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getIsMethodAllowed" message="tns:IMember_getIsMethodAllowed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getIsMethodAllowedResponse" message="tns:IMember_getIsMethodAllowed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMethodLimits">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getMethodLimits" message="tns:IMember_getMethodLimits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getMethodLimitsResponse" message="tns:IMember_getMethodLimits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBankAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getBankAccounts" message="tns:IMember_getBankAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getBankAccountsResponse" message="tns:IMember_getBankAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastDepositWireTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getLastDepositWireTransfer" message="tns:IMember_getLastDepositWireTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getLastDepositWireTransferResponse" message="tns:IMember_getLastDepositWireTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastWithdrawalWireTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getLastWithdrawalWireTransfer" message="tns:IMember_getLastWithdrawalWireTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getLastWithdrawalWireTransferResponse" message="tns:IMember_getLastWithdrawalWireTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPendingWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getPendingWithdrawal" message="tns:IMember_getPendingWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getPendingWithdrawalResponse" message="tns:IMember_getPendingWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cancelWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/cancelWithdrawal" message="tns:IMember_cancelWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/cancelWithdrawalResponse" message="tns:IMember_cancelWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMemberRewards">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/AddMemberRewards" message="tns:IMember_AddMemberRewards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/AddMemberRewardsResponse" message="tns:IMember_AddMemberRewards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastDepositMoneyTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getLastDepositMoneyTransfer" message="tns:IMember_getLastDepositMoneyTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getLastDepositMoneyTransferResponse" message="tns:IMember_getLastDepositMoneyTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastWithdrawalMoneyTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getLastWithdrawalMoneyTransfer" message="tns:IMember_getLastWithdrawalMoneyTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getLastWithdrawalMoneyTransferResponse" message="tns:IMember_getLastWithdrawalMoneyTransfer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMember" type="tns:IMember">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getWallets">
      <soap:operation soapAction="http://tempuri.org/IMember/getWallets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWalletBalance">
      <soap:operation soapAction="http://tempuri.org/IMember/getWalletBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStakeAmount">
      <soap:operation soapAction="http://tempuri.org/IMember/getStakeAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrencyForeignRate">
      <soap:operation soapAction="http://tempuri.org/IMember/getCurrencyForeignRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDepositWithdrawalHistory">
      <soap:operation soapAction="http://tempuri.org/IMember/getDepositWithdrawalHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFundTransferHistory">
      <soap:operation soapAction="http://tempuri.org/IMember/getFundTransferHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIsMethodAllowed">
      <soap:operation soapAction="http://tempuri.org/IMember/getIsMethodAllowed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMethodLimits">
      <soap:operation soapAction="http://tempuri.org/IMember/getMethodLimits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBankAccounts">
      <soap:operation soapAction="http://tempuri.org/IMember/getBankAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastDepositWireTransfer">
      <soap:operation soapAction="http://tempuri.org/IMember/getLastDepositWireTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastWithdrawalWireTransfer">
      <soap:operation soapAction="http://tempuri.org/IMember/getLastWithdrawalWireTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPendingWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IMember/getPendingWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IMember/cancelWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMemberRewards">
      <soap:operation soapAction="http://tempuri.org/IMember/AddMemberRewards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastDepositMoneyTransfer">
      <soap:operation soapAction="http://tempuri.org/IMember/getLastDepositMoneyTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastWithdrawalMoneyTransfer">
      <soap:operation soapAction="http://tempuri.org/IMember/getLastWithdrawalMoneyTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Member">
    <wsdl:port name="BasicHttpBinding_IMember" binding="tns:BasicHttpBinding_IMember">
      <soap:address location="http://paymentservices.ms1dev.com/Member.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>