W88.rewards/App_WebReferences/RewardsServices/RewardsServices45.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rewards.Contract.Message.Redemption" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rewards.Contract.Message.Redemption" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56326/RewardsServices.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:56326/RewardsServices.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Rewards.Core.DTOs" />
  <xs:import schemaLocation="http://localhost:56326/RewardsServices.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Rewards.Core.Domain" />
  <xs:complexType name="RedemptionFreebetRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RedemptionRequest">
        <xs:sequence>
          <xs:element name="CreditAmount" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RedemptionFreebetRequest" nillable="true" type="tns:RedemptionFreebetRequest" />
  <xs:complexType name="RedemptionRequest">
    <xs:sequence>
      <xs:element name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorId" nillable="true" type="xs:string" />
      <xs:element name="PointRequired" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      <xs:element name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="RiskId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RedemptionRequest" nillable="true" type="tns:RedemptionRequest" />
  <xs:complexType name="RedemptionResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RedemptionIds" nillable="true" type="q1:ArrayOflong" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rewards.Core.DTOs" minOccurs="0" name="Result" type="q2:RedemptionResultEnum" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rewards.Core.Domain" minOccurs="0" name="Type" type="q3:ProductTypeEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RedemptionResponse" nillable="true" type="tns:RedemptionResponse" />
  <xs:complexType name="RedemptionOnlineRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RedemptionRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="AimId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RedemptionOnlineRequest" nillable="true" type="tns:RedemptionOnlineRequest" />
  <xs:complexType name="RedemptionNormalRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RedemptionRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RedemptionNormalRequest" nillable="true" type="tns:RedemptionNormalRequest" />
  <xs:complexType name="RedemptionWishlistRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RedemptionRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RedemptionWishlistRequest" nillable="true" type="tns:RedemptionWishlistRequest" />
  <xs:complexType name="RedemptionCartRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RedemptionCartRequest" nillable="true" type="tns:RedemptionCartRequest" />
  <xs:complexType name="RedemptionCartResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Redemption" nillable="true" type="tns:ArrayOfRedemptionResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RedemptionCartResponse" nillable="true" type="tns:RedemptionCartResponse" />
  <xs:complexType name="ArrayOfRedemptionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RedemptionResponse" nillable="true" type="tns:RedemptionResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRedemptionResponse" nillable="true" type="tns:ArrayOfRedemptionResponse" />
</xs:schema>