W88.m/App_WebReferences/svcPayWithdrawal/Withdrawal1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Withdrawal" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://paymentservices.aqzbouat.com/Withdrawal.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://paymentservices.aqzbouat.com/Withdrawal.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://paymentservices.aqzbouat.com/Withdrawal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services" />
      <xsd:import schemaLocation="http://paymentservices.aqzbouat.com/Withdrawal.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.DataContracts" />
      <xsd:import schemaLocation="http://paymentservices.aqzbouat.com/Withdrawal.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWithdrawal_createTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:createTransaction" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:createTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createBankTransferTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:createBankTransferTransaction" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createBankTransferTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:createBankTransferTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createBankTransferTransactionV1_InputMessage">
    <wsdl:part name="parameters" element="tns:createBankTransferTransactionV1" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createBankTransferTransactionV1_OutputMessage">
    <wsdl:part name="parameters" element="tns:createBankTransferTransactionV1Response" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createBankTransferTransactionV2_InputMessage">
    <wsdl:part name="parameters" element="tns:createBankTransferTransactionV2" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createBankTransferTransactionV2_OutputMessage">
    <wsdl:part name="parameters" element="tns:createBankTransferTransactionV2Response" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_SMSWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:SMSWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_SMSWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:SMSWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createWingMoneyTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:createWingMoneyTransaction" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createWingMoneyTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:createWingMoneyTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createWingMoneyTransactionV1_InputMessage">
    <wsdl:part name="parameters" element="tns:createWingMoneyTransactionV1" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createWingMoneyTransactionV1_OutputMessage">
    <wsdl:part name="parameters" element="tns:createWingMoneyTransactionV1Response" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createMoneyTransferWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:createMoneyTransferWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createMoneyTransferWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:createMoneyTransferWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createPayPalTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:createPayPalTransaction" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createPayPalTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:createPayPalTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createOnlineWithdrawalTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:createOnlineWithdrawalTransaction" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createOnlineWithdrawalTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:createOnlineWithdrawalTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createOnlineWithdrawalTransactionV1_InputMessage">
    <wsdl:part name="parameters" element="tns:createOnlineWithdrawalTransactionV1" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createOnlineWithdrawalTransactionV1_OutputMessage">
    <wsdl:part name="parameters" element="tns:createOnlineWithdrawalTransactionV1Response" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processNetellerWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:processNetellerWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processNetellerWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:processNetellerWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processAlogatewayWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:processAlogatewayWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processAlogatewayWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:processAlogatewayWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processAlogatewayWithdrawalV1_InputMessage">
    <wsdl:part name="parameters" element="tns:processAlogatewayWithdrawalV1" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processAlogatewayWithdrawalV1_OutputMessage">
    <wsdl:part name="parameters" element="tns:processAlogatewayWithdrawalV1Response" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_validateAlogatewayWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:validateAlogatewayWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_validateAlogatewayWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:validateAlogatewayWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processSDPayWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:processSDPayWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processSDPayWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:processSDPayWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_validateSDPayWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:validateSDPayWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_validateSDPayWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:validateSDPayWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_validateCleaverWithdraw_InputMessage">
    <wsdl:part name="parameters" element="tns:validateCleaverWithdraw" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_validateCleaverWithdraw_OutputMessage">
    <wsdl:part name="parameters" element="tns:validateCleaverWithdrawResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_addCleaverStatusLog_InputMessage">
    <wsdl:part name="parameters" element="tns:addCleaverStatusLog" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_addCleaverStatusLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCleaverStatusLogResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processIBanqWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:processIBanqWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processIBanqWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:processIBanqWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processPay24KWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:processPay24KWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processPay24KWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:processPay24KWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_validatePay24KTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:validatePay24KTransaction" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_validatePay24KTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:validatePay24KTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createCreditCardTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:createCreditCardTransaction" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_createCreditCardTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:createCreditCardTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processDaddyPayWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:processDaddyPayWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processDaddyPayWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:processDaddyPayWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_infoConfirmDaddyPayWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:infoConfirmDaddyPayWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_infoConfirmDaddyPayWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:infoConfirmDaddyPayWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_validateDaddyPayWithdrawalTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:validateDaddyPayWithdrawalTransaction" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_validateDaddyPayWithdrawalTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:validateDaddyPayWithdrawalTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processQijiPayWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:processQijiPayWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processQijiPayWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:processQijiPayWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_validateQijiPayWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:validateQijiPayWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_validateQijiPayWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:validateQijiPayWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processHelp2PayWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:processHelp2PayWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processHelp2PayWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:processHelp2PayWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_validateHelp2PayWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:validateHelp2PayWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_validateHelp2PayWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:validateHelp2PayWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processBaoKimWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:processBaoKimWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_processBaoKimWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:processBaoKimWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_getWithdrawalWireTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:getWithdrawalWireTransaction" />
  </wsdl:message>
  <wsdl:message name="IWithdrawal_getWithdrawalWireTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWithdrawalWireTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="IWithdrawal">
    <wsdl:operation name="createTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/createTransaction" message="tns:IWithdrawal_createTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/createTransactionResponse" message="tns:IWithdrawal_createTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createBankTransferTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/createBankTransferTransaction" message="tns:IWithdrawal_createBankTransferTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/createBankTransferTransactionResponse" message="tns:IWithdrawal_createBankTransferTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createBankTransferTransactionV1">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/createBankTransferTransactionV1" message="tns:IWithdrawal_createBankTransferTransactionV1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/createBankTransferTransactionV1Response" message="tns:IWithdrawal_createBankTransferTransactionV1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createBankTransferTransactionV2">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/createBankTransferTransactionV2" message="tns:IWithdrawal_createBankTransferTransactionV2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/createBankTransferTransactionV2Response" message="tns:IWithdrawal_createBankTransferTransactionV2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SMSWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/SMSWithdrawal" message="tns:IWithdrawal_SMSWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/SMSWithdrawalResponse" message="tns:IWithdrawal_SMSWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createWingMoneyTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/createWingMoneyTransaction" message="tns:IWithdrawal_createWingMoneyTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/createWingMoneyTransactionResponse" message="tns:IWithdrawal_createWingMoneyTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createWingMoneyTransactionV1">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/createWingMoneyTransactionV1" message="tns:IWithdrawal_createWingMoneyTransactionV1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/createWingMoneyTransactionV1Response" message="tns:IWithdrawal_createWingMoneyTransactionV1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createMoneyTransferWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/createMoneyTransferWithdrawal" message="tns:IWithdrawal_createMoneyTransferWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/createMoneyTransferWithdrawalResponse" message="tns:IWithdrawal_createMoneyTransferWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createPayPalTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/createPayPalTransaction" message="tns:IWithdrawal_createPayPalTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/createPayPalTransactionResponse" message="tns:IWithdrawal_createPayPalTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createOnlineWithdrawalTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/createOnlineWithdrawalTransaction" message="tns:IWithdrawal_createOnlineWithdrawalTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/createOnlineWithdrawalTransactionResponse" message="tns:IWithdrawal_createOnlineWithdrawalTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createOnlineWithdrawalTransactionV1">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/createOnlineWithdrawalTransactionV1" message="tns:IWithdrawal_createOnlineWithdrawalTransactionV1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/createOnlineWithdrawalTransactionV1Response" message="tns:IWithdrawal_createOnlineWithdrawalTransactionV1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="processNetellerWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/processNetellerWithdrawal" message="tns:IWithdrawal_processNetellerWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/processNetellerWithdrawalResponse" message="tns:IWithdrawal_processNetellerWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="processAlogatewayWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/processAlogatewayWithdrawal" message="tns:IWithdrawal_processAlogatewayWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/processAlogatewayWithdrawalResponse" message="tns:IWithdrawal_processAlogatewayWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="processAlogatewayWithdrawalV1">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/processAlogatewayWithdrawalV1" message="tns:IWithdrawal_processAlogatewayWithdrawalV1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/processAlogatewayWithdrawalV1Response" message="tns:IWithdrawal_processAlogatewayWithdrawalV1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validateAlogatewayWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/validateAlogatewayWithdrawal" message="tns:IWithdrawal_validateAlogatewayWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/validateAlogatewayWithdrawalResponse" message="tns:IWithdrawal_validateAlogatewayWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="processSDPayWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/processSDPayWithdrawal" message="tns:IWithdrawal_processSDPayWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/processSDPayWithdrawalResponse" message="tns:IWithdrawal_processSDPayWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validateSDPayWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/validateSDPayWithdrawal" message="tns:IWithdrawal_validateSDPayWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/validateSDPayWithdrawalResponse" message="tns:IWithdrawal_validateSDPayWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validateCleaverWithdraw">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/validateCleaverWithdraw" message="tns:IWithdrawal_validateCleaverWithdraw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/validateCleaverWithdrawResponse" message="tns:IWithdrawal_validateCleaverWithdraw_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addCleaverStatusLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/addCleaverStatusLog" message="tns:IWithdrawal_addCleaverStatusLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/addCleaverStatusLogResponse" message="tns:IWithdrawal_addCleaverStatusLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="processIBanqWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/processIBanqWithdrawal" message="tns:IWithdrawal_processIBanqWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/processIBanqWithdrawalResponse" message="tns:IWithdrawal_processIBanqWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="processPay24KWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/processPay24KWithdrawal" message="tns:IWithdrawal_processPay24KWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/processPay24KWithdrawalResponse" message="tns:IWithdrawal_processPay24KWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validatePay24KTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/validatePay24KTransaction" message="tns:IWithdrawal_validatePay24KTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/validatePay24KTransactionResponse" message="tns:IWithdrawal_validatePay24KTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createCreditCardTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/createCreditCardTransaction" message="tns:IWithdrawal_createCreditCardTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/createCreditCardTransactionResponse" message="tns:IWithdrawal_createCreditCardTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="processDaddyPayWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/processDaddyPayWithdrawal" message="tns:IWithdrawal_processDaddyPayWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/processDaddyPayWithdrawalResponse" message="tns:IWithdrawal_processDaddyPayWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="infoConfirmDaddyPayWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/infoConfirmDaddyPayWithdrawal" message="tns:IWithdrawal_infoConfirmDaddyPayWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/infoConfirmDaddyPayWithdrawalResponse" message="tns:IWithdrawal_infoConfirmDaddyPayWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validateDaddyPayWithdrawalTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/validateDaddyPayWithdrawalTransaction" message="tns:IWithdrawal_validateDaddyPayWithdrawalTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/validateDaddyPayWithdrawalTransactionResponse" message="tns:IWithdrawal_validateDaddyPayWithdrawalTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="processQijiPayWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/processQijiPayWithdrawal" message="tns:IWithdrawal_processQijiPayWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/processQijiPayWithdrawalResponse" message="tns:IWithdrawal_processQijiPayWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validateQijiPayWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/validateQijiPayWithdrawal" message="tns:IWithdrawal_validateQijiPayWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/validateQijiPayWithdrawalResponse" message="tns:IWithdrawal_validateQijiPayWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="processHelp2PayWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/processHelp2PayWithdrawal" message="tns:IWithdrawal_processHelp2PayWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/processHelp2PayWithdrawalResponse" message="tns:IWithdrawal_processHelp2PayWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validateHelp2PayWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/validateHelp2PayWithdrawal" message="tns:IWithdrawal_validateHelp2PayWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/validateHelp2PayWithdrawalResponse" message="tns:IWithdrawal_validateHelp2PayWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="processBaoKimWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/processBaoKimWithdrawal" message="tns:IWithdrawal_processBaoKimWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/processBaoKimWithdrawalResponse" message="tns:IWithdrawal_processBaoKimWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWithdrawalWireTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IWithdrawal/getWithdrawalWireTransaction" message="tns:IWithdrawal_getWithdrawalWireTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWithdrawal/getWithdrawalWireTransactionResponse" message="tns:IWithdrawal_getWithdrawalWireTransaction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWithdrawal" type="tns:IWithdrawal">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createTransaction">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/createTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBankTransferTransaction">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/createBankTransferTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBankTransferTransactionV1">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/createBankTransferTransactionV1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBankTransferTransactionV2">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/createBankTransferTransactionV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/SMSWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createWingMoneyTransaction">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/createWingMoneyTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createWingMoneyTransactionV1">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/createWingMoneyTransactionV1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createMoneyTransferWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/createMoneyTransferWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPayPalTransaction">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/createPayPalTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createOnlineWithdrawalTransaction">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/createOnlineWithdrawalTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createOnlineWithdrawalTransactionV1">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/createOnlineWithdrawalTransactionV1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processNetellerWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/processNetellerWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processAlogatewayWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/processAlogatewayWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processAlogatewayWithdrawalV1">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/processAlogatewayWithdrawalV1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateAlogatewayWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/validateAlogatewayWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processSDPayWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/processSDPayWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateSDPayWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/validateSDPayWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateCleaverWithdraw">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/validateCleaverWithdraw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCleaverStatusLog">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/addCleaverStatusLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processIBanqWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/processIBanqWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processPay24KWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/processPay24KWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validatePay24KTransaction">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/validatePay24KTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCreditCardTransaction">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/createCreditCardTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processDaddyPayWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/processDaddyPayWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="infoConfirmDaddyPayWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/infoConfirmDaddyPayWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateDaddyPayWithdrawalTransaction">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/validateDaddyPayWithdrawalTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processQijiPayWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/processQijiPayWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateQijiPayWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/validateQijiPayWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processHelp2PayWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/processHelp2PayWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateHelp2PayWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/validateHelp2PayWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processBaoKimWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/processBaoKimWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWithdrawalWireTransaction">
      <soap:operation soapAction="http://tempuri.org/IWithdrawal/getWithdrawalWireTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Withdrawal">
    <wsdl:port name="BasicHttpBinding_IWithdrawal" binding="tns:BasicHttpBinding_IWithdrawal">
      <soap:address location="http://paymentservices.aqzbouat.com/Withdrawal.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>