W88.WebRef/Service References/svcFundTransfer/FundTransfer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FundTransfer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://paymentservices.aqzbouat.com/FundTransfer.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://paymentservices.aqzbouat.com/FundTransfer.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://paymentservices.aqzbouat.com/FundTransfer.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFundTransfer_initiateTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:initiateTransfer" />
  </wsdl:message>
  <wsdl:message name="IFundTransfer_initiateTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:initiateTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IFundTransfer_initiateClaim_InputMessage">
    <wsdl:part name="parameters" element="tns:initiateClaim" />
  </wsdl:message>
  <wsdl:message name="IFundTransfer_initiateClaim_OutputMessage">
    <wsdl:part name="parameters" element="tns:initiateClaimResponse" />
  </wsdl:message>
  <wsdl:message name="IFundTransfer_initiateClaimInternal_InputMessage">
    <wsdl:part name="parameters" element="tns:initiateClaimInternal" />
  </wsdl:message>
  <wsdl:message name="IFundTransfer_initiateClaimInternal_OutputMessage">
    <wsdl:part name="parameters" element="tns:initiateClaimInternalResponse" />
  </wsdl:message>
  <wsdl:portType name="IFundTransfer">
    <wsdl:operation name="initiateTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IFundTransfer/initiateTransfer" message="tns:IFundTransfer_initiateTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFundTransfer/initiateTransferResponse" message="tns:IFundTransfer_initiateTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="initiateClaim">
      <wsdl:input wsaw:Action="http://tempuri.org/IFundTransfer/initiateClaim" message="tns:IFundTransfer_initiateClaim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFundTransfer/initiateClaimResponse" message="tns:IFundTransfer_initiateClaim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="initiateClaimInternal">
      <wsdl:input wsaw:Action="http://tempuri.org/IFundTransfer/initiateClaimInternal" message="tns:IFundTransfer_initiateClaimInternal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFundTransfer/initiateClaimInternalResponse" message="tns:IFundTransfer_initiateClaimInternal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFundTransfer" type="tns:IFundTransfer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="initiateTransfer">
      <soap:operation soapAction="http://tempuri.org/IFundTransfer/initiateTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initiateClaim">
      <soap:operation soapAction="http://tempuri.org/IFundTransfer/initiateClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initiateClaimInternal">
      <soap:operation soapAction="http://tempuri.org/IFundTransfer/initiateClaimInternal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FundTransfer">
    <wsdl:port name="BasicHttpBinding_IFundTransfer" binding="tns:BasicHttpBinding_IFundTransfer">
      <soap:address location="http://paymentservices.aqzbouat.com/FundTransfer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>