W88.affiliate/App_WebReferences/svcPayWithdrawal/Withdrawal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="createTransaction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="createTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="createBankTransferTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payMethodId" type="xs:long" />
        <xs:element minOccurs="0" name="requestCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="bankAccountName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAccountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankBranch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankNameNative" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberIC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberMobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobileNotify" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createBankTransferTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createBankTransferTransactionResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createBankTransferTransactionV1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payMethodId" type="xs:long" />
        <xs:element minOccurs="0" name="requestCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="bankAccountName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAccountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankBranch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankNameNative" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberIC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberMobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobileNotify" type="xs:boolean" />
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createBankTransferTransactionV1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createBankTransferTransactionV1Result" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SMSWithdrawal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SMSWithdrawalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SMSWithdrawalResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transId" type="xs:long" />
        <xs:element minOccurs="0" name="operatorCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createWingMoneyTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payMethodId" type="xs:long" />
        <xs:element minOccurs="0" name="requestCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="bankAccountName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAccountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberMobile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createWingMoneyTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createWingMoneyTransactionResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createWingMoneyTransactionV1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payMethodId" type="xs:long" />
        <xs:element minOccurs="0" name="requestCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="bankAccountName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAccountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberMobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createWingMoneyTransactionV1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createWingMoneyTransactionV1Result" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPayPalTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payMethodId" type="xs:long" />
        <xs:element minOccurs="0" name="requestCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="accountName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberMobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPayPalTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createPayPalTransactionResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createOnlineWithdrawalTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payMethodId" type="xs:long" />
        <xs:element minOccurs="0" name="requestCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="accountId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createOnlineWithdrawalTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createOnlineWithdrawalTransactionResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processNetellerWithdrawal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processNetellerWithdrawalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processNetellerWithdrawalResult" type="xs:int" />
        <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="merchantFee" type="xs:decimal" />
        <xs:element minOccurs="0" name="merchantTransId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>