W88.WebRef/Service References/svcPayMember/Member1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://paymentservices.aqzbouat.com/Member.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services" />
  <xs:element name="getWallets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWalletsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getWalletsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="processCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBalances">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBalancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBalancesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWalletBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="walletId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWalletBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getWalletBalanceResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCurrency" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStakeAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="walletId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateTimeFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="datetimeTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStakeAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getStakeAmountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrencyForeignRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currencyFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currencyTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrencyForeignRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCurrencyForeignRateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepositWithdrawalHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:int" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paymentType" type="xs:int" />
        <xs:element minOccurs="0" name="paymentStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datetimeFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="datetimeTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepositWithdrawalHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDepositWithdrawalHistoryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="statusCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepositWithdrawalHistoryV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:int" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paymentType" type="xs:int" />
        <xs:element minOccurs="0" name="paymentStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datetimeFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="datetimeTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepositWithdrawalHistoryV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDepositWithdrawalHistoryV2Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="statusCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAdjustmentDepositWithdrawalHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:int" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paymentType" type="xs:int" />
        <xs:element minOccurs="0" name="paymentStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datetimeFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="datetimeTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAdjustmentDepositWithdrawalHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAdjustmentDepositWithdrawalHistoryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="statusCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFundTransferHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:int" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transferType" type="xs:int" />
        <xs:element minOccurs="0" name="transferStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datetimeFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="datetimeTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFundTransferHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFundTransferHistoryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="statusCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIsMethodAllowed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paymentMethodId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIsMethodAllowedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getIsMethodAllowedResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="processCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMethodLimits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paymentMethodId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isDummy" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMethodLimitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMethodLimitsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="processCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMethodLimits_Mobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paymentMethodId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isDummy" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMethodLimits_MobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMethodLimits_MobileResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="processCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBankAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="currencyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBankAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="getBankAccountsResult" nillable="true" type="q1:ArrayOfMemberBank" />
        <xs:element minOccurs="0" name="statusCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastDepositWireTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastDepositWireTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLastDepositWireTransferResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="statusCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastWithdrawalWireTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastWithdrawalWireTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLastWithdrawalWireTransferResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="statusCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPendingWithdrawal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPendingWithdrawalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="getPendingWithdrawalResult" nillable="true" type="q2:ArrayOfPendingWithdrawal" />
        <xs:element minOccurs="0" name="statusCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelWithdrawal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
        <xs:element minOccurs="0" name="methodId" type="xs:long" />
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelWithdrawalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cancelWithdrawalResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="statusCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberRewards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberRewardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMemberRewardsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberRewardsV1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberRewardsV1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMemberRewardsV1Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberTestingPurpose">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberTestingPurposeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMemberTestingPurposeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberInstantRebate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberInstantRebateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMemberInstantRebateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberInstantRebate2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rebateDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberInstantRebate2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMemberInstantRebate2Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastDepositMoneyTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="methodId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastDepositMoneyTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLastDepositMoneyTransferResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastWithdrawalMoneyTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="methodId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastWithdrawalMoneyTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLastWithdrawalMoneyTransferResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createBankDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankBranch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAccountName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAccountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankNameNative" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="preferred" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createBankDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createBankDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBankDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBankDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBankDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberVerificationBonus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberVerificationBonusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMemberVerificationBonusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberAffiliateTopUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="affiliateId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="referenceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberAffiliateTopUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMemberAffiliateTopUpResult" type="xs:int" />
        <xs:element minOccurs="0" name="balBefore" type="xs:decimal" />
        <xs:element minOccurs="0" name="balAfter" type="xs:decimal" />
        <xs:element minOccurs="0" name="transactionId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMethodLimitsAffiliate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberId" type="xs:long" />
        <xs:element minOccurs="0" name="paymentMethodId" type="xs:long" />
        <xs:element minOccurs="0" name="transType" type="xs:short" />
        <xs:element minOccurs="0" name="isDummy" type="xs:boolean" />
        <xs:element minOccurs="0" name="countryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currencyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMethodLimitsAffiliateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMethodLimitsAffiliateResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAffiliateDepositWithdrawalHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberId" type="xs:long" />
        <xs:element minOccurs="0" name="paymentType" type="xs:int" />
        <xs:element minOccurs="0" name="paymentStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datetimeFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="datetimeTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAffiliateDepositWithdrawalHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAffiliateDepositWithdrawalHistoryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastAffiliateDepositWireTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastAffiliateDepositWireTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLastAffiliateDepositWireTransferResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastAffiliateDepositMoneyTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastAffiliateDepositMoneyTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLastAffiliateDepositMoneyTransferResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendFundInAccountSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendFundInAccountSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendFundInAccountSMSResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="statusText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkAlogatewayTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
        <xs:element minOccurs="0" name="requestAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="currencyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkAlogatewayTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkAlogatewayTransactionResult" type="xs:int" />
        <xs:element minOccurs="0" name="refNo" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkNganLuongTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkNganLuongTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkNganLuongTransactionResult" type="xs:int" />
        <xs:element minOccurs="0" name="refNo" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkSDPayTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkSDPayTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkSDPayTransactionResult" type="xs:int" />
        <xs:element minOccurs="0" name="result" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkShengPayTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkShengPayTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkShengPayTransactionResult" type="xs:int" />
        <xs:element minOccurs="0" name="refNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkECPSSTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkECPSSTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkECPSSTransactionResult" type="xs:int" />
        <xs:element minOccurs="0" name="refNo" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateNextPayMemberRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateNextPayMemberRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateNextPayMemberRequestResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkSDPayWithdrawalTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkSDPayWithdrawalTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkSDPayWithdrawalTransactionResult" type="xs:int" />
        <xs:element minOccurs="0" name="refNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rolloutAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkBill99Transaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkBill99TransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkBill99TransactionResult" type="xs:int" />
        <xs:element minOccurs="0" name="refNo" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkPay19Transaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
        <xs:element minOccurs="0" name="orderDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkPay19TransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkPay19TransactionResult" type="xs:int" />
        <xs:element minOccurs="0" name="refNo" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkYeePayTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkYeePayTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkYeePayTransactionResult" type="xs:int" />
        <xs:element minOccurs="0" name="refNo" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkYeePayDirectTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkYeePayDirectTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkYeePayDirectTransactionResult" type="xs:int" />
        <xs:element minOccurs="0" name="refNo" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkVeritransTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkVeritransTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkVeritransTransactionResult" type="xs:int" />
        <xs:element minOccurs="0" name="refNo" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkHelp2PayTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkHelp2PayTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkHelp2PayTransactionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkHnapayTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkHnapayTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkHnapayTransactionResult" type="xs:int" />
        <xs:element minOccurs="0" name="refNo" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkPay24KWithdrawalTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkPay24KWithdrawalTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkPay24KWithdrawalTransactionResult" type="xs:int" />
        <xs:element minOccurs="0" name="pay24KOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="totalFee" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentDepositGatewayLimit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentDepositGatewayLimitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPaymentDepositGatewayLimitResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentDepositGatewayRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gatewayId" type="xs:long" />
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="countryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currencyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestAmount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentDepositGatewayRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPaymentDepositGatewayRouteResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="methodId" type="xs:long" />
        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkChinaPnRTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkChinaPnRTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkChinaPnRTransactionResult" type="xs:int" />
        <xs:element minOccurs="0" name="refNo" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkYeePayCardTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkYeePayCardTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkYeePayCardTransactionResult" type="xs:int" />
        <xs:element minOccurs="0" name="refNo" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMemberLastCreditCardDepositDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMemberLastCreditCardDepositDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMemberLastCreditCardDepositDetailResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBankDownTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="currencyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBankDownTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckBankDownTimeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDaddyPayWithdrawalTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDaddyPayWithdrawalTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkDaddyPayWithdrawalTransactionResult" type="xs:int" />
        <xs:element minOccurs="0" name="dpOrderNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="totalFee" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkPromotion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="walletId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transferAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="promoCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkPromotionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkPromotionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processMemberWeChatNickName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processMemberWeChatNickNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processMemberWeChatNickNameResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberJTPayMobileMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberJTPayMobileMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMemberJTPayMobileMethodResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processMemberBaoKimWalletAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processMemberBaoKimWalletAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processMemberBaoKimWalletAccountResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>