W88.WebRef/Service References/svcPayMember/Member3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMemberBank">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberBank" nillable="true" type="tns:MemberBank" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberBank" nillable="true" type="tns:ArrayOfMemberBank" />
  <xs:complexType name="MemberBank">
    <xs:sequence>
      <xs:element minOccurs="0" name="bankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankNameNative" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberBank" nillable="true" type="tns:MemberBank" />
  <xs:complexType name="ArrayOfMemberSecondaryBank">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberSecondaryBank" nillable="true" type="tns:MemberSecondaryBank" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberSecondaryBank" nillable="true" type="tns:ArrayOfMemberSecondaryBank" />
  <xs:complexType name="MemberSecondaryBank">
    <xs:sequence>
      <xs:element minOccurs="0" name="bankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankId" type="xs:long" />
      <xs:element minOccurs="0" name="bankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankNameNative" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberSecondaryBank" nillable="true" type="tns:MemberSecondaryBank" />
  <xs:complexType name="ArrayOfPendingWithdrawal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PendingWithdrawal" nillable="true" type="tns:PendingWithdrawal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPendingWithdrawal" nillable="true" type="tns:ArrayOfPendingWithdrawal" />
  <xs:complexType name="PendingWithdrawal">
    <xs:sequence>
      <xs:element minOccurs="0" name="invId" type="xs:long" />
      <xs:element minOccurs="0" name="payMethodDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="payMethodId" type="xs:long" />
      <xs:element minOccurs="0" name="requestAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="requestDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PendingWithdrawal" nillable="true" type="tns:PendingWithdrawal" />
</xs:schema>