W88.rewards/App_WebReferences/ws_announcement/announcementWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMemberSiteAnnouncement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="operatorId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="languageCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="memberId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberSiteAnnouncementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemberSiteAnnouncementResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCashierPageAnnouncement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="memberId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="languageCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCashierPageAnnouncementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCashierPageAnnouncementResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCSAnnouncement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="operatorId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCSAnnouncementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCSAnnouncementResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMemberSiteAnnouncementSoapIn">
    <wsdl:part name="parameters" element="tns:GetMemberSiteAnnouncement" />
  </wsdl:message>
  <wsdl:message name="GetMemberSiteAnnouncementSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberSiteAnnouncementResponse" />
  </wsdl:message>
  <wsdl:message name="GetCashierPageAnnouncementSoapIn">
    <wsdl:part name="parameters" element="tns:GetCashierPageAnnouncement" />
  </wsdl:message>
  <wsdl:message name="GetCashierPageAnnouncementSoapOut">
    <wsdl:part name="parameters" element="tns:GetCashierPageAnnouncementResponse" />
  </wsdl:message>
  <wsdl:message name="GetCSAnnouncementSoapIn">
    <wsdl:part name="parameters" element="tns:GetCSAnnouncement" />
  </wsdl:message>
  <wsdl:message name="GetCSAnnouncementSoapOut">
    <wsdl:part name="parameters" element="tns:GetCSAnnouncementResponse" />
  </wsdl:message>
  <wsdl:portType name="announcementWSSoap">
    <wsdl:operation name="GetMemberSiteAnnouncement">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetMemberSiteAnnouncement&lt;br&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetMemberSiteAnnouncementSoapIn" />
      <wsdl:output message="tns:GetMemberSiteAnnouncementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCashierPageAnnouncement">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetCashierPageAnnouncement&lt;br&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetCashierPageAnnouncementSoapIn" />
      <wsdl:output message="tns:GetCashierPageAnnouncementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCSAnnouncement">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetCSAnnouncement&lt;br&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetCSAnnouncementSoapIn" />
      <wsdl:output message="tns:GetCSAnnouncementSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="announcementWSSoap" type="tns:announcementWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMemberSiteAnnouncement">
      <soap:operation soapAction="http://tempuri.org/GetMemberSiteAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCashierPageAnnouncement">
      <soap:operation soapAction="http://tempuri.org/GetCashierPageAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCSAnnouncement">
      <soap:operation soapAction="http://tempuri.org/GetCSAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="announcementWSSoap12" type="tns:announcementWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMemberSiteAnnouncement">
      <soap12:operation soapAction="http://tempuri.org/GetMemberSiteAnnouncement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCashierPageAnnouncement">
      <soap12:operation soapAction="http://tempuri.org/GetCashierPageAnnouncement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCSAnnouncement">
      <soap12:operation soapAction="http://tempuri.org/GetCSAnnouncement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="announcementWS">
    <wsdl:port name="announcementWSSoap" binding="tns:announcementWSSoap">
      <soap:address location="http://ws.ms1dev.com/announcementWS.asmx" />
    </wsdl:port>
    <wsdl:port name="announcementWSSoap12" binding="tns:announcementWSSoap12">
      <soap12:address location="http://ws.ms1dev.com/announcementWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>