W88.affiliate/App_WebReferences/svcPayDeposit/Deposit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="createFastDepositTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payMethodId" type="xs:long" />
        <xs:element minOccurs="0" name="requestCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="bankAccountId" type="xs:long" />
        <xs:element minOccurs="0" name="bankAccountName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAccountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankTransferDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="bankReference" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankNameNative" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createFastDepositTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createFastDepositTransactionResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createFastDepositTransactionV1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payMethodId" type="xs:long" />
        <xs:element minOccurs="0" name="requestCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="bankAccountId" type="xs:long" />
        <xs:element minOccurs="0" name="bankAccountName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAccountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankTransferDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="bankReference" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankNameNative" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createFastDepositTransactionV1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createFastDepositTransactionV1Result" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createOnlineDepositTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payMethodId" type="xs:long" />
        <xs:element minOccurs="0" name="requestCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestAmount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createOnlineDepositTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createOnlineDepositTransactionResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createSDAPayTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
        <xs:element minOccurs="0" name="requestAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="memberId" type="xs:long" />
        <xs:element minOccurs="0" name="memberName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bank" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createSDAPayTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createSDAPayTransactionResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="statusCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateSDAPayTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postedParameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateSDAPayTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateSDAPayTransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSDAPayDepositTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSDAPayDepositTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSDAPayDepositTransactionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateNextPayTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="np_inv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="np_amt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="np_refCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="np_merID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nextPayId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateNextPayTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateNextPayTransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepositTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepositTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDepositTransactionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDepositAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDepositAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateDepositAmountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SMSDeposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="bankSmsAbbr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankTransferDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SMSDepositResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SMSDepositResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transId" type="xs:long" />
        <xs:element minOccurs="0" name="operatorCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateBill99Transaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="merchantAcctId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderAmount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dealId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankDealId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dealTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payAmount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fee" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ext1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ext2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateBill99TransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateBill99TransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateIPSTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="billNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipsAmount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currencyType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="succ" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attach" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipsBillNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="retEncodeType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankBillNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateIPSTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateIPSTransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createWingDepositTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payMethodId" type="xs:long" />
        <xs:element minOccurs="0" name="requestCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="bankAccountName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAccountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankTransferDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="bankReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createWingDepositTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createWingDepositTransactionResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createWingDepositTransactionV1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payMethodId" type="xs:long" />
        <xs:element minOccurs="0" name="requestCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="bankAccountName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAccountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankTransferDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="bankReference" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createWingDepositTransactionV1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createWingDepositTransactionV1Result" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPayPalDepositTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payMethodId" type="xs:long" />
        <xs:element minOccurs="0" name="requestCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="accountName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transferDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="referenceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPayPalDepositTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createPayPalDepositTransactionResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateShengPayTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Charset" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TraceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MsgSender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SendTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InstCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderAmount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransAmount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MerchantNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ext1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SignType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SignMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateShengPayTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateShengPayTransactionResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateNganLuongTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="merchant_site_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="receiver" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="order_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currency_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checksum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strNLAmount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transactionStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateNganLuongTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateNganLuongTransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepositOnlineTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepositOnlineTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDepositOnlineTransactionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPac2PayBankInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bank" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPac2PayBankInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPac2PayBankInfoResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPac2PayTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
        <xs:element minOccurs="0" name="requestAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="memberId" type="xs:long" />
        <xs:element minOccurs="0" name="memberName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bank" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="compareMode" type="xs:int" />
        <xs:element minOccurs="0" name="remitMode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPac2PayTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createPac2PayTransactionResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPac2PayTransferScheme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bank" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remitMode" type="xs:int" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPac2PayTransferSchemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPac2PayTransferSchemeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPac2PayDepositTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPac2PayDepositTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPac2PayDepositTransactionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validatePac2PayTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validatePac2PayTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validatePac2PayTransactionResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNetellerTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invId" type="xs:long" />
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="requestAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="requestCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberId" type="xs:long" />
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountId" type="xs:long" />
        <xs:element minOccurs="0" name="secureId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNetellerTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createNetellerTransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateAlogateway">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="merchantOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankTransactionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="billingDescriptor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="control" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateAlogatewayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateAlogatewayResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>