W88.affiliate/App_WebReferences/mwsAffiliate/mws_affiliate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MobileMemberSignin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="operatorId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="memberCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="siteURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MobileMemberSigninResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MobileMemberSigninResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountryList">
        <s:complexType />
      </s:element>
      <s:element name="GetCountryListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountryListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MobileMemberSigninSoapIn">
    <wsdl:part name="parameters" element="tns:MobileMemberSignin" />
  </wsdl:message>
  <wsdl:message name="MobileMemberSigninSoapOut">
    <wsdl:part name="parameters" element="tns:MobileMemberSigninResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountryListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountryList" />
  </wsdl:message>
  <wsdl:message name="GetCountryListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountryListResponse" />
  </wsdl:message>
  <wsdl:portType name="mws_affiliateSoap">
    <wsdl:operation name="MobileMemberSignin">
      <wsdl:input message="tns:MobileMemberSigninSoapIn" />
      <wsdl:output message="tns:MobileMemberSigninSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryList">
      <wsdl:input message="tns:GetCountryListSoapIn" />
      <wsdl:output message="tns:GetCountryListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="mws_affiliateSoap" type="tns:mws_affiliateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MobileMemberSignin">
      <soap:operation soapAction="http://tempuri.org/MobileMemberSignin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryList">
      <soap:operation soapAction="http://tempuri.org/GetCountryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="mws_affiliateSoap12" type="tns:mws_affiliateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MobileMemberSignin">
      <soap12:operation soapAction="http://tempuri.org/MobileMemberSignin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryList">
      <soap12:operation soapAction="http://tempuri.org/GetCountryList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="mws_affiliate">
    <wsdl:port name="mws_affiliateSoap" binding="tns:mws_affiliateSoap">
      <soap:address location="http://localhost:61170/mws_affiliate.asmx" />
    </wsdl:port>
    <wsdl:port name="mws_affiliateSoap12" binding="tns:mws_affiliateSoap12">
      <soap12:address location="http://localhost:61170/mws_affiliate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>