W88.m/App_WebReferences/svcPayMember/Member.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Member" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://paymentservices.aqzbouat.com/Member.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://paymentservices.aqzbouat.com/Member.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://paymentservices.aqzbouat.com/Member.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://paymentservices.aqzbouat.com/Member.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services" />
      <xsd:import schemaLocation="http://paymentservices.aqzbouat.com/Member.svc?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMember_getWallets_InputMessage">
    <wsdl:part name="parameters" element="tns:getWallets" />
  </wsdl:message>
  <wsdl:message name="IMember_getWallets_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWalletsResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getBalances_InputMessage">
    <wsdl:part name="parameters" element="tns:getBalances" />
  </wsdl:message>
  <wsdl:message name="IMember_getBalances_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBalancesResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getWalletBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:getWalletBalance" />
  </wsdl:message>
  <wsdl:message name="IMember_getWalletBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWalletBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getStakeAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:getStakeAmount" />
  </wsdl:message>
  <wsdl:message name="IMember_getStakeAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStakeAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getCurrencyForeignRate_InputMessage">
    <wsdl:part name="parameters" element="tns:getCurrencyForeignRate" />
  </wsdl:message>
  <wsdl:message name="IMember_getCurrencyForeignRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCurrencyForeignRateResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getCurrencyBaseExchangeRate_InputMessage">
    <wsdl:part name="parameters" element="tns:getCurrencyBaseExchangeRate" />
  </wsdl:message>
  <wsdl:message name="IMember_getCurrencyBaseExchangeRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCurrencyBaseExchangeRateResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getDepositWithdrawalHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:getDepositWithdrawalHistory" />
  </wsdl:message>
  <wsdl:message name="IMember_getDepositWithdrawalHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDepositWithdrawalHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getDepositWithdrawalHistoryV2_InputMessage">
    <wsdl:part name="parameters" element="tns:getDepositWithdrawalHistoryV2" />
  </wsdl:message>
  <wsdl:message name="IMember_getDepositWithdrawalHistoryV2_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDepositWithdrawalHistoryV2Response" />
  </wsdl:message>
  <wsdl:message name="IMember_getAdjustmentDepositWithdrawalHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:getAdjustmentDepositWithdrawalHistory" />
  </wsdl:message>
  <wsdl:message name="IMember_getAdjustmentDepositWithdrawalHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAdjustmentDepositWithdrawalHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getFundTransferHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:getFundTransferHistory" />
  </wsdl:message>
  <wsdl:message name="IMember_getFundTransferHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFundTransferHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getIsMethodAllowed_InputMessage">
    <wsdl:part name="parameters" element="tns:getIsMethodAllowed" />
  </wsdl:message>
  <wsdl:message name="IMember_getIsMethodAllowed_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIsMethodAllowedResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getMethodLimits_InputMessage">
    <wsdl:part name="parameters" element="tns:getMethodLimits" />
  </wsdl:message>
  <wsdl:message name="IMember_getMethodLimits_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMethodLimitsResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getMethodLimits_Mobile_InputMessage">
    <wsdl:part name="parameters" element="tns:getMethodLimits_Mobile" />
  </wsdl:message>
  <wsdl:message name="IMember_getMethodLimits_Mobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMethodLimits_MobileResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getBankAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:getBankAccounts" />
  </wsdl:message>
  <wsdl:message name="IMember_getBankAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBankAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getSecondaryBankAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:getSecondaryBankAccounts" />
  </wsdl:message>
  <wsdl:message name="IMember_getSecondaryBankAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSecondaryBankAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getBankLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:getBankLocations" />
  </wsdl:message>
  <wsdl:message name="IMember_getBankLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBankLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getBankBranches_InputMessage">
    <wsdl:part name="parameters" element="tns:getBankBranches" />
  </wsdl:message>
  <wsdl:message name="IMember_getBankBranches_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBankBranchesResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastDepositWireTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastDepositWireTransfer" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastDepositWireTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastDepositWireTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastWithdrawalWireTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastWithdrawalWireTransfer" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastWithdrawalWireTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastWithdrawalWireTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getPendingWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:getPendingWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IMember_getPendingWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPendingWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_cancelWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:cancelWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IMember_cancelWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:cancelWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_AddMemberRewards_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberRewards" />
  </wsdl:message>
  <wsdl:message name="IMember_AddMemberRewards_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberRewardsResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_AddMemberRewardsV1_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberRewardsV1" />
  </wsdl:message>
  <wsdl:message name="IMember_AddMemberRewardsV1_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberRewardsV1Response" />
  </wsdl:message>
  <wsdl:message name="IMember_AddMemberTestingPurpose_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberTestingPurpose" />
  </wsdl:message>
  <wsdl:message name="IMember_AddMemberTestingPurpose_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberTestingPurposeResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_AddMemberInstantRebate_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberInstantRebate" />
  </wsdl:message>
  <wsdl:message name="IMember_AddMemberInstantRebate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberInstantRebateResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_AddMemberInstantRebate2_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberInstantRebate2" />
  </wsdl:message>
  <wsdl:message name="IMember_AddMemberInstantRebate2_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberInstantRebate2Response" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastDepositMoneyTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastDepositMoneyTransfer" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastDepositMoneyTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastDepositMoneyTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastWithdrawalMoneyTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastWithdrawalMoneyTransfer" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastWithdrawalMoneyTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastWithdrawalMoneyTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_createBankDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:createBankDetails" />
  </wsdl:message>
  <wsdl:message name="IMember_createBankDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:createBankDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getBankDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:getBankDetails" />
  </wsdl:message>
  <wsdl:message name="IMember_getBankDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBankDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_AddMemberVerificationBonus_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberVerificationBonus" />
  </wsdl:message>
  <wsdl:message name="IMember_AddMemberVerificationBonus_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberVerificationBonusResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_AddMemberAffiliateTopUp_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberAffiliateTopUp" />
  </wsdl:message>
  <wsdl:message name="IMember_AddMemberAffiliateTopUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberAffiliateTopUpResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getMethodLimitsAffiliate_InputMessage">
    <wsdl:part name="parameters" element="tns:getMethodLimitsAffiliate" />
  </wsdl:message>
  <wsdl:message name="IMember_getMethodLimitsAffiliate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMethodLimitsAffiliateResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getAffiliateDepositWithdrawalHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:getAffiliateDepositWithdrawalHistory" />
  </wsdl:message>
  <wsdl:message name="IMember_getAffiliateDepositWithdrawalHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAffiliateDepositWithdrawalHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastAffiliateDepositWireTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastAffiliateDepositWireTransfer" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastAffiliateDepositWireTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastAffiliateDepositWireTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastAffiliateDepositMoneyTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastAffiliateDepositMoneyTransfer" />
  </wsdl:message>
  <wsdl:message name="IMember_getLastAffiliateDepositMoneyTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastAffiliateDepositMoneyTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_sendFundInAccountSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:sendFundInAccountSMS" />
  </wsdl:message>
  <wsdl:message name="IMember_sendFundInAccountSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendFundInAccountSMSResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_checkAlogatewayTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:checkAlogatewayTransaction" />
  </wsdl:message>
  <wsdl:message name="IMember_checkAlogatewayTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkAlogatewayTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_checkNganLuongTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:checkNganLuongTransaction" />
  </wsdl:message>
  <wsdl:message name="IMember_checkNganLuongTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkNganLuongTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_checkSDPayTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:checkSDPayTransaction" />
  </wsdl:message>
  <wsdl:message name="IMember_checkSDPayTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkSDPayTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_checkShengPayTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:checkShengPayTransaction" />
  </wsdl:message>
  <wsdl:message name="IMember_checkShengPayTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkShengPayTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_checkECPSSTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:checkECPSSTransaction" />
  </wsdl:message>
  <wsdl:message name="IMember_checkECPSSTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkECPSSTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_validateNextPayMemberRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:validateNextPayMemberRequest" />
  </wsdl:message>
  <wsdl:message name="IMember_validateNextPayMemberRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:validateNextPayMemberRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_checkSDPayWithdrawalTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:checkSDPayWithdrawalTransaction" />
  </wsdl:message>
  <wsdl:message name="IMember_checkSDPayWithdrawalTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkSDPayWithdrawalTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_checkBill99Transaction_InputMessage">
    <wsdl:part name="parameters" element="tns:checkBill99Transaction" />
  </wsdl:message>
  <wsdl:message name="IMember_checkBill99Transaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkBill99TransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_checkPay19Transaction_InputMessage">
    <wsdl:part name="parameters" element="tns:checkPay19Transaction" />
  </wsdl:message>
  <wsdl:message name="IMember_checkPay19Transaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkPay19TransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_checkYeePayTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:checkYeePayTransaction" />
  </wsdl:message>
  <wsdl:message name="IMember_checkYeePayTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkYeePayTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_checkYeePayDirectTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:checkYeePayDirectTransaction" />
  </wsdl:message>
  <wsdl:message name="IMember_checkYeePayDirectTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkYeePayDirectTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_checkVeritransTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:checkVeritransTransaction" />
  </wsdl:message>
  <wsdl:message name="IMember_checkVeritransTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkVeritransTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_checkHelp2PayTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:checkHelp2PayTransaction" />
  </wsdl:message>
  <wsdl:message name="IMember_checkHelp2PayTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkHelp2PayTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_checkHnapayTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:checkHnapayTransaction" />
  </wsdl:message>
  <wsdl:message name="IMember_checkHnapayTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkHnapayTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_checkPay24KWithdrawalTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:checkPay24KWithdrawalTransaction" />
  </wsdl:message>
  <wsdl:message name="IMember_checkPay24KWithdrawalTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkPay24KWithdrawalTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_GetPaymentDepositGatewayLimit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentDepositGatewayLimit" />
  </wsdl:message>
  <wsdl:message name="IMember_GetPaymentDepositGatewayLimit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentDepositGatewayLimitResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_GetPaymentDepositGatewayRoute_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentDepositGatewayRoute" />
  </wsdl:message>
  <wsdl:message name="IMember_GetPaymentDepositGatewayRoute_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentDepositGatewayRouteResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_checkChinaPnRTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:checkChinaPnRTransaction" />
  </wsdl:message>
  <wsdl:message name="IMember_checkChinaPnRTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkChinaPnRTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_checkYeePayCardTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:checkYeePayCardTransaction" />
  </wsdl:message>
  <wsdl:message name="IMember_checkYeePayCardTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkYeePayCardTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_getMemberLastCreditCardDepositDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:getMemberLastCreditCardDepositDetail" />
  </wsdl:message>
  <wsdl:message name="IMember_getMemberLastCreditCardDepositDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMemberLastCreditCardDepositDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_CheckBankDownTime_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckBankDownTime" />
  </wsdl:message>
  <wsdl:message name="IMember_CheckBankDownTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckBankDownTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_checkDaddyPayWithdrawalTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:checkDaddyPayWithdrawalTransaction" />
  </wsdl:message>
  <wsdl:message name="IMember_checkDaddyPayWithdrawalTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkDaddyPayWithdrawalTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_checkPromotion_InputMessage">
    <wsdl:part name="parameters" element="tns:checkPromotion" />
  </wsdl:message>
  <wsdl:message name="IMember_checkPromotion_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkPromotionResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_processMemberWeChatNickName_InputMessage">
    <wsdl:part name="parameters" element="tns:processMemberWeChatNickName" />
  </wsdl:message>
  <wsdl:message name="IMember_processMemberWeChatNickName_OutputMessage">
    <wsdl:part name="parameters" element="tns:processMemberWeChatNickNameResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_GetMemberJTPayMobileMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberJTPayMobileMethod" />
  </wsdl:message>
  <wsdl:message name="IMember_GetMemberJTPayMobileMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberJTPayMobileMethodResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_processMemberBaoKimWalletAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:processMemberBaoKimWalletAccount" />
  </wsdl:message>
  <wsdl:message name="IMember_processMemberBaoKimWalletAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:processMemberBaoKimWalletAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_GetMemberAvailableDepositMethods_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberAvailableDepositMethods" />
  </wsdl:message>
  <wsdl:message name="IMember_GetMemberAvailableDepositMethods_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberAvailableDepositMethodsResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_GetMemberAvailableDepositMethods_Mobile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberAvailableDepositMethods_Mobile" />
  </wsdl:message>
  <wsdl:message name="IMember_GetMemberAvailableDepositMethods_Mobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberAvailableDepositMethods_MobileResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_checkFunPayTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:checkFunPayTransaction" />
  </wsdl:message>
  <wsdl:message name="IMember_checkFunPayTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkFunPayTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_GetMemberHeepayWeChatPayMobileMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberHeepayWeChatPayMobileMethod" />
  </wsdl:message>
  <wsdl:message name="IMember_GetMemberHeepayWeChatPayMobileMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberHeepayWeChatPayMobileMethodResponse" />
  </wsdl:message>
  <wsdl:message name="IMember_validateIShowMemberRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:validateIShowMemberRequest" />
  </wsdl:message>
  <wsdl:message name="IMember_validateIShowMemberRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:validateIShowMemberRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IMember">
    <wsdl:operation name="getWallets">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getWallets" message="tns:IMember_getWallets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getWalletsResponse" message="tns:IMember_getWallets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBalances">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getBalances" message="tns:IMember_getBalances_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getBalancesResponse" message="tns:IMember_getBalances_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWalletBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getWalletBalance" message="tns:IMember_getWalletBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getWalletBalanceResponse" message="tns:IMember_getWalletBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStakeAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getStakeAmount" message="tns:IMember_getStakeAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getStakeAmountResponse" message="tns:IMember_getStakeAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCurrencyForeignRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getCurrencyForeignRate" message="tns:IMember_getCurrencyForeignRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getCurrencyForeignRateResponse" message="tns:IMember_getCurrencyForeignRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCurrencyBaseExchangeRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getCurrencyBaseExchangeRate" message="tns:IMember_getCurrencyBaseExchangeRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getCurrencyBaseExchangeRateResponse" message="tns:IMember_getCurrencyBaseExchangeRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDepositWithdrawalHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getDepositWithdrawalHistory" message="tns:IMember_getDepositWithdrawalHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getDepositWithdrawalHistoryResponse" message="tns:IMember_getDepositWithdrawalHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDepositWithdrawalHistoryV2">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getDepositWithdrawalHistoryV2" message="tns:IMember_getDepositWithdrawalHistoryV2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getDepositWithdrawalHistoryV2Response" message="tns:IMember_getDepositWithdrawalHistoryV2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAdjustmentDepositWithdrawalHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getAdjustmentDepositWithdrawalHistory" message="tns:IMember_getAdjustmentDepositWithdrawalHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getAdjustmentDepositWithdrawalHistoryResponse" message="tns:IMember_getAdjustmentDepositWithdrawalHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFundTransferHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getFundTransferHistory" message="tns:IMember_getFundTransferHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getFundTransferHistoryResponse" message="tns:IMember_getFundTransferHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIsMethodAllowed">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getIsMethodAllowed" message="tns:IMember_getIsMethodAllowed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getIsMethodAllowedResponse" message="tns:IMember_getIsMethodAllowed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMethodLimits">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getMethodLimits" message="tns:IMember_getMethodLimits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getMethodLimitsResponse" message="tns:IMember_getMethodLimits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMethodLimits_Mobile">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getMethodLimits_Mobile" message="tns:IMember_getMethodLimits_Mobile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getMethodLimits_MobileResponse" message="tns:IMember_getMethodLimits_Mobile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBankAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getBankAccounts" message="tns:IMember_getBankAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getBankAccountsResponse" message="tns:IMember_getBankAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSecondaryBankAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getSecondaryBankAccounts" message="tns:IMember_getSecondaryBankAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getSecondaryBankAccountsResponse" message="tns:IMember_getSecondaryBankAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBankLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getBankLocations" message="tns:IMember_getBankLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getBankLocationsResponse" message="tns:IMember_getBankLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBankBranches">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getBankBranches" message="tns:IMember_getBankBranches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getBankBranchesResponse" message="tns:IMember_getBankBranches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastDepositWireTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getLastDepositWireTransfer" message="tns:IMember_getLastDepositWireTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getLastDepositWireTransferResponse" message="tns:IMember_getLastDepositWireTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastWithdrawalWireTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getLastWithdrawalWireTransfer" message="tns:IMember_getLastWithdrawalWireTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getLastWithdrawalWireTransferResponse" message="tns:IMember_getLastWithdrawalWireTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPendingWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getPendingWithdrawal" message="tns:IMember_getPendingWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getPendingWithdrawalResponse" message="tns:IMember_getPendingWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cancelWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/cancelWithdrawal" message="tns:IMember_cancelWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/cancelWithdrawalResponse" message="tns:IMember_cancelWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMemberRewards">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/AddMemberRewards" message="tns:IMember_AddMemberRewards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/AddMemberRewardsResponse" message="tns:IMember_AddMemberRewards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMemberRewardsV1">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/AddMemberRewardsV1" message="tns:IMember_AddMemberRewardsV1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/AddMemberRewardsV1Response" message="tns:IMember_AddMemberRewardsV1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMemberTestingPurpose">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/AddMemberTestingPurpose" message="tns:IMember_AddMemberTestingPurpose_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/AddMemberTestingPurposeResponse" message="tns:IMember_AddMemberTestingPurpose_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMemberInstantRebate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/AddMemberInstantRebate" message="tns:IMember_AddMemberInstantRebate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/AddMemberInstantRebateResponse" message="tns:IMember_AddMemberInstantRebate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMemberInstantRebate2">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/AddMemberInstantRebate2" message="tns:IMember_AddMemberInstantRebate2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/AddMemberInstantRebate2Response" message="tns:IMember_AddMemberInstantRebate2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastDepositMoneyTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getLastDepositMoneyTransfer" message="tns:IMember_getLastDepositMoneyTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getLastDepositMoneyTransferResponse" message="tns:IMember_getLastDepositMoneyTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastWithdrawalMoneyTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getLastWithdrawalMoneyTransfer" message="tns:IMember_getLastWithdrawalMoneyTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getLastWithdrawalMoneyTransferResponse" message="tns:IMember_getLastWithdrawalMoneyTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createBankDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/createBankDetails" message="tns:IMember_createBankDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/createBankDetailsResponse" message="tns:IMember_createBankDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBankDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getBankDetails" message="tns:IMember_getBankDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getBankDetailsResponse" message="tns:IMember_getBankDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMemberVerificationBonus">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/AddMemberVerificationBonus" message="tns:IMember_AddMemberVerificationBonus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/AddMemberVerificationBonusResponse" message="tns:IMember_AddMemberVerificationBonus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMemberAffiliateTopUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/AddMemberAffiliateTopUp" message="tns:IMember_AddMemberAffiliateTopUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/AddMemberAffiliateTopUpResponse" message="tns:IMember_AddMemberAffiliateTopUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMethodLimitsAffiliate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getMethodLimitsAffiliate" message="tns:IMember_getMethodLimitsAffiliate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getMethodLimitsAffiliateResponse" message="tns:IMember_getMethodLimitsAffiliate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAffiliateDepositWithdrawalHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getAffiliateDepositWithdrawalHistory" message="tns:IMember_getAffiliateDepositWithdrawalHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getAffiliateDepositWithdrawalHistoryResponse" message="tns:IMember_getAffiliateDepositWithdrawalHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastAffiliateDepositWireTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getLastAffiliateDepositWireTransfer" message="tns:IMember_getLastAffiliateDepositWireTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getLastAffiliateDepositWireTransferResponse" message="tns:IMember_getLastAffiliateDepositWireTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastAffiliateDepositMoneyTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getLastAffiliateDepositMoneyTransfer" message="tns:IMember_getLastAffiliateDepositMoneyTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getLastAffiliateDepositMoneyTransferResponse" message="tns:IMember_getLastAffiliateDepositMoneyTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendFundInAccountSMS">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/sendFundInAccountSMS" message="tns:IMember_sendFundInAccountSMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/sendFundInAccountSMSResponse" message="tns:IMember_sendFundInAccountSMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkAlogatewayTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/checkAlogatewayTransaction" message="tns:IMember_checkAlogatewayTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/checkAlogatewayTransactionResponse" message="tns:IMember_checkAlogatewayTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkNganLuongTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/checkNganLuongTransaction" message="tns:IMember_checkNganLuongTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/checkNganLuongTransactionResponse" message="tns:IMember_checkNganLuongTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkSDPayTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/checkSDPayTransaction" message="tns:IMember_checkSDPayTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/checkSDPayTransactionResponse" message="tns:IMember_checkSDPayTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkShengPayTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/checkShengPayTransaction" message="tns:IMember_checkShengPayTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/checkShengPayTransactionResponse" message="tns:IMember_checkShengPayTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkECPSSTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/checkECPSSTransaction" message="tns:IMember_checkECPSSTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/checkECPSSTransactionResponse" message="tns:IMember_checkECPSSTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validateNextPayMemberRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/validateNextPayMemberRequest" message="tns:IMember_validateNextPayMemberRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/validateNextPayMemberRequestResponse" message="tns:IMember_validateNextPayMemberRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkSDPayWithdrawalTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/checkSDPayWithdrawalTransaction" message="tns:IMember_checkSDPayWithdrawalTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/checkSDPayWithdrawalTransactionResponse" message="tns:IMember_checkSDPayWithdrawalTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkBill99Transaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/checkBill99Transaction" message="tns:IMember_checkBill99Transaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/checkBill99TransactionResponse" message="tns:IMember_checkBill99Transaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkPay19Transaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/checkPay19Transaction" message="tns:IMember_checkPay19Transaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/checkPay19TransactionResponse" message="tns:IMember_checkPay19Transaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkYeePayTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/checkYeePayTransaction" message="tns:IMember_checkYeePayTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/checkYeePayTransactionResponse" message="tns:IMember_checkYeePayTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkYeePayDirectTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/checkYeePayDirectTransaction" message="tns:IMember_checkYeePayDirectTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/checkYeePayDirectTransactionResponse" message="tns:IMember_checkYeePayDirectTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkVeritransTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/checkVeritransTransaction" message="tns:IMember_checkVeritransTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/checkVeritransTransactionResponse" message="tns:IMember_checkVeritransTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkHelp2PayTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/checkHelp2PayTransaction" message="tns:IMember_checkHelp2PayTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/checkHelp2PayTransactionResponse" message="tns:IMember_checkHelp2PayTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkHnapayTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/checkHnapayTransaction" message="tns:IMember_checkHnapayTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/checkHnapayTransactionResponse" message="tns:IMember_checkHnapayTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkPay24KWithdrawalTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/checkPay24KWithdrawalTransaction" message="tns:IMember_checkPay24KWithdrawalTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/checkPay24KWithdrawalTransactionResponse" message="tns:IMember_checkPay24KWithdrawalTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDepositGatewayLimit">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/GetPaymentDepositGatewayLimit" message="tns:IMember_GetPaymentDepositGatewayLimit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/GetPaymentDepositGatewayLimitResponse" message="tns:IMember_GetPaymentDepositGatewayLimit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDepositGatewayRoute">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/GetPaymentDepositGatewayRoute" message="tns:IMember_GetPaymentDepositGatewayRoute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/GetPaymentDepositGatewayRouteResponse" message="tns:IMember_GetPaymentDepositGatewayRoute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkChinaPnRTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/checkChinaPnRTransaction" message="tns:IMember_checkChinaPnRTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/checkChinaPnRTransactionResponse" message="tns:IMember_checkChinaPnRTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkYeePayCardTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/checkYeePayCardTransaction" message="tns:IMember_checkYeePayCardTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/checkYeePayCardTransactionResponse" message="tns:IMember_checkYeePayCardTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMemberLastCreditCardDepositDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/getMemberLastCreditCardDepositDetail" message="tns:IMember_getMemberLastCreditCardDepositDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/getMemberLastCreditCardDepositDetailResponse" message="tns:IMember_getMemberLastCreditCardDepositDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckBankDownTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/CheckBankDownTime" message="tns:IMember_CheckBankDownTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/CheckBankDownTimeResponse" message="tns:IMember_CheckBankDownTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkDaddyPayWithdrawalTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/checkDaddyPayWithdrawalTransaction" message="tns:IMember_checkDaddyPayWithdrawalTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/checkDaddyPayWithdrawalTransactionResponse" message="tns:IMember_checkDaddyPayWithdrawalTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkPromotion">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/checkPromotion" message="tns:IMember_checkPromotion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/checkPromotionResponse" message="tns:IMember_checkPromotion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="processMemberWeChatNickName">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/processMemberWeChatNickName" message="tns:IMember_processMemberWeChatNickName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/processMemberWeChatNickNameResponse" message="tns:IMember_processMemberWeChatNickName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberJTPayMobileMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/GetMemberJTPayMobileMethod" message="tns:IMember_GetMemberJTPayMobileMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/GetMemberJTPayMobileMethodResponse" message="tns:IMember_GetMemberJTPayMobileMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="processMemberBaoKimWalletAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/processMemberBaoKimWalletAccount" message="tns:IMember_processMemberBaoKimWalletAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/processMemberBaoKimWalletAccountResponse" message="tns:IMember_processMemberBaoKimWalletAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberAvailableDepositMethods">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/GetMemberAvailableDepositMethods" message="tns:IMember_GetMemberAvailableDepositMethods_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/GetMemberAvailableDepositMethodsResponse" message="tns:IMember_GetMemberAvailableDepositMethods_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberAvailableDepositMethods_Mobile">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/GetMemberAvailableDepositMethods_Mobile" message="tns:IMember_GetMemberAvailableDepositMethods_Mobile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/GetMemberAvailableDepositMethods_MobileResponse" message="tns:IMember_GetMemberAvailableDepositMethods_Mobile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkFunPayTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/checkFunPayTransaction" message="tns:IMember_checkFunPayTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/checkFunPayTransactionResponse" message="tns:IMember_checkFunPayTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberHeepayWeChatPayMobileMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/GetMemberHeepayWeChatPayMobileMethod" message="tns:IMember_GetMemberHeepayWeChatPayMobileMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/GetMemberHeepayWeChatPayMobileMethodResponse" message="tns:IMember_GetMemberHeepayWeChatPayMobileMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validateIShowMemberRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMember/validateIShowMemberRequest" message="tns:IMember_validateIShowMemberRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMember/validateIShowMemberRequestResponse" message="tns:IMember_validateIShowMemberRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMember" type="tns:IMember">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getWallets">
      <soap:operation soapAction="http://tempuri.org/IMember/getWallets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalances">
      <soap:operation soapAction="http://tempuri.org/IMember/getBalances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWalletBalance">
      <soap:operation soapAction="http://tempuri.org/IMember/getWalletBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStakeAmount">
      <soap:operation soapAction="http://tempuri.org/IMember/getStakeAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrencyForeignRate">
      <soap:operation soapAction="http://tempuri.org/IMember/getCurrencyForeignRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrencyBaseExchangeRate">
      <soap:operation soapAction="http://tempuri.org/IMember/getCurrencyBaseExchangeRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDepositWithdrawalHistory">
      <soap:operation soapAction="http://tempuri.org/IMember/getDepositWithdrawalHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDepositWithdrawalHistoryV2">
      <soap:operation soapAction="http://tempuri.org/IMember/getDepositWithdrawalHistoryV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAdjustmentDepositWithdrawalHistory">
      <soap:operation soapAction="http://tempuri.org/IMember/getAdjustmentDepositWithdrawalHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFundTransferHistory">
      <soap:operation soapAction="http://tempuri.org/IMember/getFundTransferHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIsMethodAllowed">
      <soap:operation soapAction="http://tempuri.org/IMember/getIsMethodAllowed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMethodLimits">
      <soap:operation soapAction="http://tempuri.org/IMember/getMethodLimits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMethodLimits_Mobile">
      <soap:operation soapAction="http://tempuri.org/IMember/getMethodLimits_Mobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBankAccounts">
      <soap:operation soapAction="http://tempuri.org/IMember/getBankAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSecondaryBankAccounts">
      <soap:operation soapAction="http://tempuri.org/IMember/getSecondaryBankAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBankLocations">
      <soap:operation soapAction="http://tempuri.org/IMember/getBankLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBankBranches">
      <soap:operation soapAction="http://tempuri.org/IMember/getBankBranches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastDepositWireTransfer">
      <soap:operation soapAction="http://tempuri.org/IMember/getLastDepositWireTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastWithdrawalWireTransfer">
      <soap:operation soapAction="http://tempuri.org/IMember/getLastWithdrawalWireTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPendingWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IMember/getPendingWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IMember/cancelWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMemberRewards">
      <soap:operation soapAction="http://tempuri.org/IMember/AddMemberRewards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMemberRewardsV1">
      <soap:operation soapAction="http://tempuri.org/IMember/AddMemberRewardsV1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMemberTestingPurpose">
      <soap:operation soapAction="http://tempuri.org/IMember/AddMemberTestingPurpose" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMemberInstantRebate">
      <soap:operation soapAction="http://tempuri.org/IMember/AddMemberInstantRebate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMemberInstantRebate2">
      <soap:operation soapAction="http://tempuri.org/IMember/AddMemberInstantRebate2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastDepositMoneyTransfer">
      <soap:operation soapAction="http://tempuri.org/IMember/getLastDepositMoneyTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastWithdrawalMoneyTransfer">
      <soap:operation soapAction="http://tempuri.org/IMember/getLastWithdrawalMoneyTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBankDetails">
      <soap:operation soapAction="http://tempuri.org/IMember/createBankDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBankDetails">
      <soap:operation soapAction="http://tempuri.org/IMember/getBankDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMemberVerificationBonus">
      <soap:operation soapAction="http://tempuri.org/IMember/AddMemberVerificationBonus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMemberAffiliateTopUp">
      <soap:operation soapAction="http://tempuri.org/IMember/AddMemberAffiliateTopUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMethodLimitsAffiliate">
      <soap:operation soapAction="http://tempuri.org/IMember/getMethodLimitsAffiliate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAffiliateDepositWithdrawalHistory">
      <soap:operation soapAction="http://tempuri.org/IMember/getAffiliateDepositWithdrawalHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastAffiliateDepositWireTransfer">
      <soap:operation soapAction="http://tempuri.org/IMember/getLastAffiliateDepositWireTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastAffiliateDepositMoneyTransfer">
      <soap:operation soapAction="http://tempuri.org/IMember/getLastAffiliateDepositMoneyTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendFundInAccountSMS">
      <soap:operation soapAction="http://tempuri.org/IMember/sendFundInAccountSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkAlogatewayTransaction">
      <soap:operation soapAction="http://tempuri.org/IMember/checkAlogatewayTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkNganLuongTransaction">
      <soap:operation soapAction="http://tempuri.org/IMember/checkNganLuongTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkSDPayTransaction">
      <soap:operation soapAction="http://tempuri.org/IMember/checkSDPayTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkShengPayTransaction">
      <soap:operation soapAction="http://tempuri.org/IMember/checkShengPayTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkECPSSTransaction">
      <soap:operation soapAction="http://tempuri.org/IMember/checkECPSSTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateNextPayMemberRequest">
      <soap:operation soapAction="http://tempuri.org/IMember/validateNextPayMemberRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkSDPayWithdrawalTransaction">
      <soap:operation soapAction="http://tempuri.org/IMember/checkSDPayWithdrawalTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkBill99Transaction">
      <soap:operation soapAction="http://tempuri.org/IMember/checkBill99Transaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPay19Transaction">
      <soap:operation soapAction="http://tempuri.org/IMember/checkPay19Transaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkYeePayTransaction">
      <soap:operation soapAction="http://tempuri.org/IMember/checkYeePayTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkYeePayDirectTransaction">
      <soap:operation soapAction="http://tempuri.org/IMember/checkYeePayDirectTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkVeritransTransaction">
      <soap:operation soapAction="http://tempuri.org/IMember/checkVeritransTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkHelp2PayTransaction">
      <soap:operation soapAction="http://tempuri.org/IMember/checkHelp2PayTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkHnapayTransaction">
      <soap:operation soapAction="http://tempuri.org/IMember/checkHnapayTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPay24KWithdrawalTransaction">
      <soap:operation soapAction="http://tempuri.org/IMember/checkPay24KWithdrawalTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDepositGatewayLimit">
      <soap:operation soapAction="http://tempuri.org/IMember/GetPaymentDepositGatewayLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDepositGatewayRoute">
      <soap:operation soapAction="http://tempuri.org/IMember/GetPaymentDepositGatewayRoute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkChinaPnRTransaction">
      <soap:operation soapAction="http://tempuri.org/IMember/checkChinaPnRTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkYeePayCardTransaction">
      <soap:operation soapAction="http://tempuri.org/IMember/checkYeePayCardTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMemberLastCreditCardDepositDetail">
      <soap:operation soapAction="http://tempuri.org/IMember/getMemberLastCreditCardDepositDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckBankDownTime">
      <soap:operation soapAction="http://tempuri.org/IMember/CheckBankDownTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkDaddyPayWithdrawalTransaction">
      <soap:operation soapAction="http://tempuri.org/IMember/checkDaddyPayWithdrawalTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPromotion">
      <soap:operation soapAction="http://tempuri.org/IMember/checkPromotion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processMemberWeChatNickName">
      <soap:operation soapAction="http://tempuri.org/IMember/processMemberWeChatNickName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberJTPayMobileMethod">
      <soap:operation soapAction="http://tempuri.org/IMember/GetMemberJTPayMobileMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processMemberBaoKimWalletAccount">
      <soap:operation soapAction="http://tempuri.org/IMember/processMemberBaoKimWalletAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberAvailableDepositMethods">
      <soap:operation soapAction="http://tempuri.org/IMember/GetMemberAvailableDepositMethods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberAvailableDepositMethods_Mobile">
      <soap:operation soapAction="http://tempuri.org/IMember/GetMemberAvailableDepositMethods_Mobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkFunPayTransaction">
      <soap:operation soapAction="http://tempuri.org/IMember/checkFunPayTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberHeepayWeChatPayMobileMethod">
      <soap:operation soapAction="http://tempuri.org/IMember/GetMemberHeepayWeChatPayMobileMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateIShowMemberRequest">
      <soap:operation soapAction="http://tempuri.org/IMember/validateIShowMemberRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Member">
    <wsdl:port name="BasicHttpBinding_IMember" binding="tns:BasicHttpBinding_IMember">
      <soap:address location="http://paymentservices.aqzbouat.com/Member.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>