W88.m/App_WebReferences/svcPayMS1/MS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MS1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://paymentservices.ms1dev.com/MS1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://paymentservices.ms1dev.com/MS1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://paymentservices.ms1dev.com/MS1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://paymentservices.ms1dev.com/MS1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMS1_getSystemAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:getSystemAccounts" />
  </wsdl:message>
  <wsdl:message name="IMS1_getSystemAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSystemAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IMS1_getSystemBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:getSystemBankAccount" />
  </wsdl:message>
  <wsdl:message name="IMS1_getSystemBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSystemBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IMS1_uploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:uploadFile" />
  </wsdl:message>
  <wsdl:message name="IMS1_uploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:uploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IMS1_getAffiliateSystemBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:getAffiliateSystemBankAccount" />
  </wsdl:message>
  <wsdl:message name="IMS1_getAffiliateSystemBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAffiliateSystemBankAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="IMS1">
    <wsdl:operation name="getSystemAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IMS1/getSystemAccounts" message="tns:IMS1_getSystemAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMS1/getSystemAccountsResponse" message="tns:IMS1_getSystemAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSystemBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IMS1/getSystemBankAccount" message="tns:IMS1_getSystemBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMS1/getSystemBankAccountResponse" message="tns:IMS1_getSystemBankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="uploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IMS1/uploadFile" message="tns:IMS1_uploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMS1/uploadFileResponse" message="tns:IMS1_uploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAffiliateSystemBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IMS1/getAffiliateSystemBankAccount" message="tns:IMS1_getAffiliateSystemBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMS1/getAffiliateSystemBankAccountResponse" message="tns:IMS1_getAffiliateSystemBankAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMS1" type="tns:IMS1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSystemAccounts">
      <soap:operation soapAction="http://tempuri.org/IMS1/getSystemAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSystemBankAccount">
      <soap:operation soapAction="http://tempuri.org/IMS1/getSystemBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadFile">
      <soap:operation soapAction="http://tempuri.org/IMS1/uploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAffiliateSystemBankAccount">
      <soap:operation soapAction="http://tempuri.org/IMS1/getAffiliateSystemBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MS1">
    <wsdl:port name="BasicHttpBinding_IMS1" binding="tns:BasicHttpBinding_IMS1">
      <soap:address location="http://paymentservices.ms1dev.com/MS1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>