W88.m/App_WebReferences/svcPayMS1/MS11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSystemBankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SystemBankAccount" nillable="true" type="tns:SystemBankAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSystemBankAccount" nillable="true" type="tns:ArrayOfSystemBankAccount" />
  <xs:complexType name="SystemBankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountId" type="xs:long" />
      <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descriptionExternal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemBankAccount" nillable="true" type="tns:SystemBankAccount" />
</xs:schema>