W88.WebRef/Service References/svcPayMS1/MS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSystemBankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SystemBankAccount" nillable="true" type="tns:SystemBankAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSystemBankAccount" nillable="true" type="tns:ArrayOfSystemBankAccount" />
  <xs:complexType name="SystemBankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountId" type="xs:long" />
      <xs:element minOccurs="0" name="accountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankBranch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankDowntimeId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="bankNameNative" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="descriptionExternal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="showBankInfo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemBankAccount" nillable="true" type="tns:SystemBankAccount" />
  <xs:complexType name="ArrayOfMoneyAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MoneyAccount" nillable="true" type="tns:MoneyAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMoneyAccount" nillable="true" type="tns:ArrayOfMoneyAccount" />
  <xs:complexType name="MoneyAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:long" />
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DescriptionExternal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionInternal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDeposit" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsWithdrawal" type="xs:boolean" />
      <xs:element minOccurs="0" name="MethodId" type="xs:long" />
      <xs:element minOccurs="0" name="OperatorId" type="xs:long" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MoneyAccount" nillable="true" type="tns:MoneyAccount" />
</xs:schema>