W88.WebRef/Service References/svcPayMS1/MS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MS1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://paymentservices.aqzbouat.com/MS1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://paymentservices.aqzbouat.com/MS1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://paymentservices.aqzbouat.com/MS1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://paymentservices.aqzbouat.com/MS1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services" />
      <xsd:import schemaLocation="http://paymentservices.aqzbouat.com/MS1.svc?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMS1_getSystemAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:getSystemAccounts" />
  </wsdl:message>
  <wsdl:message name="IMS1_getSystemAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSystemAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IMS1_getSystemBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:getSystemBankAccount" />
  </wsdl:message>
  <wsdl:message name="IMS1_getSystemBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSystemBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IMS1_uploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:uploadFile" />
  </wsdl:message>
  <wsdl:message name="IMS1_uploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:uploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IMS1_getAffiliateSystemBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:getAffiliateSystemBankAccount" />
  </wsdl:message>
  <wsdl:message name="IMS1_getAffiliateSystemBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAffiliateSystemBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IMS1_getCashFlowTransactionByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:getCashFlowTransactionByDate" />
  </wsdl:message>
  <wsdl:message name="IMS1_getCashFlowTransactionByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCashFlowTransactionByDateResponse" />
  </wsdl:message>
  <wsdl:message name="IMS1_getMoneyAccountFundInListItem_InputMessage">
    <wsdl:part name="parameters" element="tns:getMoneyAccountFundInListItem" />
  </wsdl:message>
  <wsdl:message name="IMS1_getMoneyAccountFundInListItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMoneyAccountFundInListItemResponse" />
  </wsdl:message>
  <wsdl:message name="IMS1_encrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:encrypt" />
  </wsdl:message>
  <wsdl:message name="IMS1_encrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:encryptResponse" />
  </wsdl:message>
  <wsdl:message name="IMS1_decrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:decrypt" />
  </wsdl:message>
  <wsdl:message name="IMS1_decrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:decryptResponse" />
  </wsdl:message>
  <wsdl:message name="IMS1_getPaymentGatewaySetting_InputMessage">
    <wsdl:part name="parameters" element="tns:getPaymentGatewaySetting" />
  </wsdl:message>
  <wsdl:message name="IMS1_getPaymentGatewaySetting_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPaymentGatewaySettingResponse" />
  </wsdl:message>
  <wsdl:message name="IMS1_getBankAccountImage_InputMessage">
    <wsdl:part name="parameters" element="tns:getBankAccountImage" />
  </wsdl:message>
  <wsdl:message name="IMS1_getBankAccountImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBankAccountImageResponse" />
  </wsdl:message>
  <wsdl:message name="IMS1_getDepositWithdrawalReport_InputMessage">
    <wsdl:part name="parameters" element="tns:getDepositWithdrawalReport" />
  </wsdl:message>
  <wsdl:message name="IMS1_getDepositWithdrawalReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDepositWithdrawalReportResponse" />
  </wsdl:message>
  <wsdl:message name="IMS1_getOnlineDepositWithdrawalReport_InputMessage">
    <wsdl:part name="parameters" element="tns:getOnlineDepositWithdrawalReport" />
  </wsdl:message>
  <wsdl:message name="IMS1_getOnlineDepositWithdrawalReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOnlineDepositWithdrawalReportResponse" />
  </wsdl:message>
  <wsdl:message name="IMS1_SDPayEncrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:SDPayEncrypt" />
  </wsdl:message>
  <wsdl:message name="IMS1_SDPayEncrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:SDPayEncryptResponse" />
  </wsdl:message>
  <wsdl:portType name="IMS1">
    <wsdl:operation name="getSystemAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IMS1/getSystemAccounts" message="tns:IMS1_getSystemAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMS1/getSystemAccountsResponse" message="tns:IMS1_getSystemAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSystemBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IMS1/getSystemBankAccount" message="tns:IMS1_getSystemBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMS1/getSystemBankAccountResponse" message="tns:IMS1_getSystemBankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="uploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IMS1/uploadFile" message="tns:IMS1_uploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMS1/uploadFileResponse" message="tns:IMS1_uploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAffiliateSystemBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IMS1/getAffiliateSystemBankAccount" message="tns:IMS1_getAffiliateSystemBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMS1/getAffiliateSystemBankAccountResponse" message="tns:IMS1_getAffiliateSystemBankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCashFlowTransactionByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMS1/getCashFlowTransactionByDate" message="tns:IMS1_getCashFlowTransactionByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMS1/getCashFlowTransactionByDateResponse" message="tns:IMS1_getCashFlowTransactionByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMoneyAccountFundInListItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IMS1/getMoneyAccountFundInListItem" message="tns:IMS1_getMoneyAccountFundInListItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMS1/getMoneyAccountFundInListItemResponse" message="tns:IMS1_getMoneyAccountFundInListItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="encrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IMS1/encrypt" message="tns:IMS1_encrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMS1/encryptResponse" message="tns:IMS1_encrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="decrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IMS1/decrypt" message="tns:IMS1_decrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMS1/decryptResponse" message="tns:IMS1_decrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentGatewaySetting">
      <wsdl:input wsaw:Action="http://tempuri.org/IMS1/getPaymentGatewaySetting" message="tns:IMS1_getPaymentGatewaySetting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMS1/getPaymentGatewaySettingResponse" message="tns:IMS1_getPaymentGatewaySetting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBankAccountImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMS1/getBankAccountImage" message="tns:IMS1_getBankAccountImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMS1/getBankAccountImageResponse" message="tns:IMS1_getBankAccountImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDepositWithdrawalReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IMS1/getDepositWithdrawalReport" message="tns:IMS1_getDepositWithdrawalReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMS1/getDepositWithdrawalReportResponse" message="tns:IMS1_getDepositWithdrawalReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOnlineDepositWithdrawalReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IMS1/getOnlineDepositWithdrawalReport" message="tns:IMS1_getOnlineDepositWithdrawalReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMS1/getOnlineDepositWithdrawalReportResponse" message="tns:IMS1_getOnlineDepositWithdrawalReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SDPayEncrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IMS1/SDPayEncrypt" message="tns:IMS1_SDPayEncrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMS1/SDPayEncryptResponse" message="tns:IMS1_SDPayEncrypt_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMS1" type="tns:IMS1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSystemAccounts">
      <soap:operation soapAction="http://tempuri.org/IMS1/getSystemAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSystemBankAccount">
      <soap:operation soapAction="http://tempuri.org/IMS1/getSystemBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadFile">
      <soap:operation soapAction="http://tempuri.org/IMS1/uploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAffiliateSystemBankAccount">
      <soap:operation soapAction="http://tempuri.org/IMS1/getAffiliateSystemBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCashFlowTransactionByDate">
      <soap:operation soapAction="http://tempuri.org/IMS1/getCashFlowTransactionByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMoneyAccountFundInListItem">
      <soap:operation soapAction="http://tempuri.org/IMS1/getMoneyAccountFundInListItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="encrypt">
      <soap:operation soapAction="http://tempuri.org/IMS1/encrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="decrypt">
      <soap:operation soapAction="http://tempuri.org/IMS1/decrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentGatewaySetting">
      <soap:operation soapAction="http://tempuri.org/IMS1/getPaymentGatewaySetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBankAccountImage">
      <soap:operation soapAction="http://tempuri.org/IMS1/getBankAccountImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDepositWithdrawalReport">
      <soap:operation soapAction="http://tempuri.org/IMS1/getDepositWithdrawalReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOnlineDepositWithdrawalReport">
      <soap:operation soapAction="http://tempuri.org/IMS1/getOnlineDepositWithdrawalReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SDPayEncrypt">
      <soap:operation soapAction="http://tempuri.org/IMS1/SDPayEncrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MS1">
    <wsdl:port name="BasicHttpBinding_IMS1" binding="tns:BasicHttpBinding_IMS1">
      <soap:address location="http://paymentservices.aqzbouat.com/MS1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>